# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs
logs/
*.log

# Database
*.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.venv
env/
venv/
ENV/

# Windows specific
Thumbs.db
desktop.ini
